<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="paycorp24" frontName="paycorp24">
            <module name="Paycorp_Payments24" />
        </route>
    </router>
</config>